body{
    font-family: sans-serif;
    font-size: 16px;
}

.slogan{
    font-size: 1.2em;
    padding: 1.2em;
    background-color: #ccc;
}

ul{
    font-size: .8em;
}

ul ul{
    font-size: 1em;
}
    
    /* 0,0,1 */
h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}

.title{
    font: 32px Helvetica, Arial, sans-serif;
}

    /* 1,0,0 */
#main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}


    /* First way of doing it */
/* #main-nav li{
    display: inline-block;
}

#main-nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .featured{
    background-color: orange;
} */

    /* 0,1,0 */
.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

    /* 0,1,1 */
.nav li{
    display: inline-block;
}

    /* 0,1,1 */
.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .featured{
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}

/* third fix */
    /* 0,2,0 */
/* .nav .featured{
    background-color: orange;
} */

a.featured{
    background-color: orange;
}

a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: red;
}

.footer{
    color: #666;
    background-color: #ccc;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

/* Inherits the color of the .footer */
.footer a{
    /* color: inherit; */
    color: initial;
    text-decoration: underline;
}

.box{
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small{
    font-size: 12px;
}

.box-large{
    font-size: 18px;
}